.background_image {
    height: 65vh;
    width: 97.9vw;
    transform: translateY(-5rem);
    object-fit: cover;
    object-position: 0 -50px;
}
.mainWrapper{
    transform: translateY(-5rem);
}
.imgSection{

    &_genres{
        display: grid;
        grid-template-columns: repeat(2, 50%);
    }

    &_title{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .movieImage {
        border-radius: 2rem;
    }
}


.moviesWrapper {

    .bioSection{
    }
    
    .bioSectionMovie{
        justify-content: flex-start !important;
    }
}

.castWrapper {
    margin-left: 5rem;
    display: grid;
    grid-template-columns: repeat(6, 16%);


    .credit_name {
        height: 5rem;

        a{
            text-decoration: none;
            color: black;

            &:hover{
                color: rgb(0, 0, 116);
            }
        }
    }
    .memberImage {
        width: 100px; 
        border-radius: .6rem;
    }
}

.iframe_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.similar_wrapper{
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    margin-left: 7rem;
    margin-right: 7rem;
    margin-bottom: 1rem;
}

.loadMore{
    width: 15rem;
    height: 2rem;
    position: absolute;
    left: 42vw;
    background-color: white;
    color: black;
    border: 1px solid gray;
    text-align: center;
    transition: all .6s ease;

    &:hover{
        background-color: black;
        color: white;
        transition: all .6s ease;
        border: 1px solid white;
    }

    &_check{
        display: none;
    }
}