
.header,
.header2 {
    position: sticky;
    top: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;

    &_links {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 70%;

        h2{
            margin-left: 1rem;
            margin-right: 1rem;
        }

        .list{
            margin-right: 2rem;
            
            &_items{
                display: none;
            }
            
        }
        
        .list:hover{
            list-style: none;

            
            .list_items{
                display: block;
                position: fixed;
                top: 50px;
                left: 10%;
                background-color: rgba($color: #838383, $alpha: .1);

                &__tv{
                    left: 15%;
                }
            }
        }
        
        
    }

    &_search{
        margin-right: 1rem;
        margin-left: auto;
        height: 1rem;
    }
}

.header2{
    background-color: black;
    height: 3rem;

    .list:hover{
        list-style: none;

        
        .list_items{
            display: block;
            position: fixed;
            top: 30px;
            left: 10%;
            background-color: rgba($color: #000000, $alpha: 1);
            color: white;

            &__tv{
                left: 15%;
            }
        }
    }
    h4{
        color: white;
    }
    
    a{
        text-decoration: none;
        color: white;
    }


}

.header{
    background-color: rgba($color: #525252, $alpha: .1);
    h4{
        color: white;
    }
    a{
        color: rgb(255, 255, 255);
        text-decoration: none;
    }
}